* {
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    height: 50vh;
    padding-right: 3.2vh;
}

div.scrollmenu div.card {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 3.2vh 0 3.2vh 3.2vh;
}

img {
    width: 40vh;
    border-radius: 10px;
}

header,
footer {
    height: 25vh;
}

h1 {
    margin: 0;
}

.button {
    width: 10%;
    opacity: 1;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
